.header{
    background:lightgray;
    height: 90px;
}
form{
    width: 960px;
    height: 350px;
    background-color: lightgray;
    margin: 0 auto;
    font-size: 18pt;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
}
#content{
    width: 960px;
    height: 350px;
    background-color: lightgray;
    margin: 0 auto;
    font-size: 18pt;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
}
.navbar{
    float: right;
    color: white;
    font-size: 20pt;
  
}

.subbar{
    width: 960px;
    margin: 0 auto;
    background:lightgray;
  
}
.namebox{
    height: 90px;
    width: 200px;
    background-color: red;
    text-align: center;
    font-size: 26pt;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;

}

#img{
    max-width: 15%;
    height: auto;
    float: left;
    padding-right: 10px;
}